.header{
    width: 100%;
    height: 35px;
    background-color: #eaeaea;
}
.welcome{
    height: 35px;
    line-height: 35px;
}
.welcome a{
    font-size: 13px;
    color: #666666;
}
.userlogin{
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
}
.userlogin a{
    font-size: 13px;
    color: #666666;
    padding: 0 5px;
}
.usercenter{
    height: 35px;
    line-height: 35px;
}
.usercenter a{
    font-size: 13px;
    color: #666666;
    padding: 0 8px;
}
.userlogin a:hover{
    color: #f10180;
}
.usercenter a:hover{
    color: #f10180;
}
.search-box{
    height: 100px;
}
.search-title a{
    font-size: 34px;
    font-weight: 500;
    line-height: 90px;
    font-family: "微软雅黑";
    color: #f10180;
}
.search-logo{
    background-image: url(../img/headright.png);
    background-position: 0 0;
    width: 304px;
    height: 100px;
    margin-left: 50px;
}
.search-input{
    float: right;
    width: 475px;
    height: 100px;
    position: relative;
}
.search-input input{
    display: block;
    width: 420px;
    height: 40px;
    margin-top: 26px;
    font-family: 微软雅黑;
    font-size: 14px;
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: #f10180;
    text-indent: 5px;
}
.search-input a{
    display: block;
    position: absolute;
    top: 26px;
    left: 418px;
}
.search-input a i{
    display: block;
    width: 50px;
    height: 40px;
    background-image: url(../img/search.jpg);
    background-repeat: no-repeat;
}
.listbox{
    width: 100%;
    height: 50px;
    border-bottom: #f10180 2px solid;
}
.lists{
    height: 50px;
}
.lists .list-btn{
    background-color: #f10180;
    width: 156px;
    height: auto;
    margin-right: 20px;
}
.lists li{
    float: left;
    position: relative;
    z-index: 8;
    height: 50px;
    line-height: 50px;
}
.list-btn a{
    display: block;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    text-indent: 35px;
    font-size: 16px;
    white-space: nowrap;
    position: relative;
}
.listall{
    position: absolute;
    top: 15px;
    left: 30px;
}
.hiddenlist{
    display: none;
    width: 156px;
    background-color: #f10180;
    position: absolute;
    top: 50px;
    left: 0;
}
.hiddenlist a{
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-indent: 0;
    font-size: 14px;
    white-space: nowrap;
    color: #fff;
    box-sizing: border-box;
}
.list-link a{
    display: block;
    height: 50px;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
    color: #333;
}
.list-link a:hover{
    color: #f10180;
}
.linkone a{
    user-select: none;
    pointer-events: none;
    font-weight: 700;
    color: #f10180;
}
.bgimg{
    cursor: pointer;
    width: 100%;
    height: 360px;
    background: url(../img/bgimg.jpg) no-repeat 100%;
}
.carousel{
    width: 100%;
    height: 360px;
}
.carousel-inner{
    height: 360px;
}
.carousel-inner img{
    display: block;
    width: 100%;
    height: 360px !important;
}
.part1-title{
    margin-top: 50px;
    height: 70px;
}
.part img{
    display: block;
    width: 100%;
    height: 100%;
}
.shop{
    margin: 20px 0;
    background-color: #fff;
}
.shop:hover{
    border: 1px silver solid;
}
.shop a{
    width: 490px;
    height: 490px;
}
.shop a img{
    display: block;
    width: 100%;
    height: 100%;
}
.shop-title{
    margin-top: 18px;
    cursor: pointer;
    font-family: MicrosoftYaHei;
    font-weight: 700;
    font-size: 18px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 455px;
    display: block;
}
.otherinfo{
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shop-price{
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #f10180;
    padding:5px 0;
}
.count-info{
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: red;
    text-decoration: line-through;
}
.footer{
    padding: 20px 0;
}
.footer p{
    text-align: center;
    color: #666;
}
@media screen and (max-width:768px){
    .search-title{
        display: none;
    }
    .search-box{
        position: relative;
    }
    .search-input{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width:1170px){
    .lists li:nth-of-type(2n){
        display: none;
    }
}
@media screen and (max-width:580px){
    .search-input{
       width: 400px;
    }
    .search-input input{
        width: 360px;
    }
    .search-input a{
        position: absolute;
        left: 358px;
    }
    .usercenter{
        display: none;
    }
    .footer{
        display: none;
    }
    .listbox{
        display: none;
    }
    .bgimg{
        display: none;
    }
    
}
.classify-title{
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    text-align: center;
    margin-top: 30px;
}
.classify-title span{
    display: inline-block;
    color: #333;
    font-size: 30px;
    line-height: 50px;
}
.goods_details{
   margin-top: 20px;
}
.theshop {
    width: 440px;
    float: left;
    margin-bottom: 40px;
    position: relative;
}
.theshop a {
    display: block;
    margin: 0 20px 10px 0;
}
.shopimg {
    position: relative;
    width: 418px;
    height: 418px;
}
.shopimg img{
    display: block;
    width: 100%;
    height: 100%;
}
.anchor{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, .2);
    cursor: move;
    opacity: 0;
}
.bigbox{
    display: none;
    position: absolute;
    top: 0;
    left: 420px;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.bigbox img{
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
}
.selectone {
    float: left;
    width: 88px;
    height: 88px;
}
.selectone img{
    display: block;
    width: 88px;
    height: 88px;
}
.details {
    float: left;
}
.shopdesc {
    margin: 0 10px;
}
.shopdesc h4 {
    font-size: 18px;
    font-weight: 700;
    color: #f10180;
    font-family: "微软雅黑";
    margin: 10px 0;
}
.shopdesc label {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #666;
    font-family: "微软雅黑";
}
.shopdesc span {
    font-size: 16px;
    color: #232323;
    font-weight: 600;
    font-family: "微软雅黑";

}
small{
    font-size: 14px;
}
.add{
    cursor: pointer;
    color: #fff;
    background-color: #f10180 !important;
}
.reduce{
    cursor: pointer;
    color: #fff;
    background-color: #f10180 !important;
}
.add:hover{
    color: #fff;
}
.reduce:hover{
    color: #fff;
}
.shopdetail {
    margin: 30px 10px;
    line-height: 50px;
}
.shopdetail div {
    float: left;
    width: 105px;
    text-align: justify;
    
}
.shopdetail div>span {
    display: inline-block;
    padding-left: 100%;
}
.shopdetail span {
    float: left;
    font-size: 14px;
    color: #666;
    font-family: "微软雅黑";
}
.shopdetail label {
    font-size: 20px;
    color: #f10180;
    font-family: "微软雅黑";
}
.shopdetail_btn {
    width: 100px;
    height: 35px;
    margin-top: 10px;
}
.shopdetail_btn button {
    display: block;
    float: left;
    width: 28px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #dddddd;
    background-color: #f0f0f0;
}
.shopdetail_btn input {
    float: left;
    width: 40px;
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    text-align: center;
}
.buy {
    display: block;
    float: left;
    width: 135px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    font-family: "微软雅黑";
    background-color: #f10180;
    border: 1px solid #f10180;
    border-radius: 1px;
    text-align: center;
}
.buy:hover{
    color: #f10180;
    background-color: #fff;
}
.addcart {
    display: block;
    float: left;
    width: 135px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    font-family: "微软雅黑";
    border: 1px solid #dddddd;
    border-radius: 1px;
    text-align: center;
    margin-left: 40px;
}
.addcart:hover{
    color: #fff;
    background-color: #f10180;
}
.footer{
    border-top: 2px solid #a1a1a1;
}
nav{
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%,0);
}